@page
@model IndexModel
@{
    ViewData["Title"] = "1D Start Side";
}

<div class="text-center">
    <h1 class="jumbotron">Hej 1D</h1>
    <p>
        Dette er min første side :-).
    </p>
    <h2>@Model.Message</h2>
</div>
